.content-content
	.content-content-inner
		section.content-section
			h2.content-section-title Мои работы
			ul.content-portfolio-list
				-
					var works = {
						'1': {
						name:'Сайт портфолио',
						info:'Мой сайт портфолио',
						namelink:'p-max-p.ru',
						href:'http://p-max-p.ru',
						img:'./img/works/p-max-p.jpg'
						},
						'2': {
						name:'Страница магазина',
						info:'Тестовая страница для магазина Cooltech',
						namelink:'webshop.p-max-p.ru',
						href:'http://webshop.p-max-p.ru/',
						img:'./img/works/cooltech.jpg'
						},
						'3': {
						name:'Генератор водяный знаков',
						info:'Командно-выпускной проект Watermark',
						namelink:'watermark.p-max-p.ru',
						href:'http://watermark.p-max-p.ru/',
						img:'./img/works/watermark.jpg'
						}
					};
				each value, key in works
					li.content-portfolio-item
						a(href=value.href).content-portfolio-link
							.content-portfolio-hover
								span.content-portfolio-name= value.name
							img(src=value.img).content-portfolio-img
						a(href=value.href).content-portfolio-namelink= value.namelink
						p.content-portfolio-info= value.info


