.content-content
	.content-content-inner
		section.content-section
			h2.content-section-title Мои работы
			ul.content-portfolio-list
				-
					var works = {
						'1': {
						name:'Сайт портфолио',
						info:'Информация о проекте',
						namelink:'www.p-max-p.ru',
						href:'http://p-max-p.ru',
						img:'./img/works/small_web_01.jpg'
						},
						'2': {
						name:'Сайт портфолио',
						info:'Информация о проекте',
						namelink:'www.p-max-p.ru',
						href:'http://p-max-p.ru',
						img:'./img/works/small_web_01.jpg'
						},
						'3': {
						name:'Сайт портфолио',
						info:'Информация о проекте',
						namelink:'www.p-max-p.ru',
						href:'http://p-max-p.ru',
						img:'./img/works/small_web_01.jpg'
						},
						'4': {
						name:'Сайт портфолио',
						info:'Информация о проекте',
						namelink:'www.p-max-p.ru',
						href:'http://p-max-p.ru',
						img:'./img/works/small_web_01.jpg'
						},
						'5': {
						name:'Сайт портфолио',
						info:'Информация о проекте',
						namelink:'www.p-max-p.ru',
						href:'http://p-max-p.ru',
						img:'./img/works/small_web_01.jpg'
						},
						'6': {
						name:'Сайт портфолио',
						info:'Информация о проекте',
						namelink:'www.p-max-p.ru',
						href:'http://p-max-p.ru',
						img:'./img/works/small_web_01.jpg'
						},
					};
				each value, key in works
					li.content-portfolio-item
						a(href=value.href).content-portfolio-link
							.content-portfolio-hover
								span.content-portfolio-name= value.name
							img(src=value.img).content-portfolio-img
						a(href=value.href).content-portfolio-namelink= value.namelink
						p.content-portfolio-info= value.info


