mixin socials(pos)
	div(class='#{pos}-socials-block')
		ul.socials__list
			-
				var socials = {
					'facebook':'#fb',
					'vkontacte':'https://vk.com/p_max_p',
					'twitter':'#tw',
					'github':'https://github.com/pmaxp'
				};
			each value, key in socials
				li.socials__item
					a(target="_blank" href=value class='socials__link socials__link_#{key}')
						span.social-text= key

mixin menus(active, before)
	div(class='#{before}').content-menu
		.menu-inner
			ul.menu-list
				-
					var menus = {
					'Обо мне': 'index.html',
					'Мои работы': 'portfolio.html',
					'Связаться со мной': 'contact.html'
					};
				each value, key in menus
					if value !== active
						li.menu-item
							a(href=value).menu-link= key
					else
						li.menu-item.menu-item-active
							a(href=value).menu-link= key


mixin skills()
	ul.skills-list
		-
			var skills = [
			'html',
			'jade',
			'css',
			'scss',
			'git',
			'jquery',
			'javascript'
			];
		each value in skills
			li.skills-item= value